.blog-index {
  >.posts-container {
    background-color: var(--color-secondary);
    padding-bottom: 112px;

    >.row {
      display: flex;
      flex-flow: row nowrap;
      margin-bottom: 48px;

      &:last-of-type {
        margin-bottom: 0;
      }

      >.col {
        width: 50%;
        margin-right: 4.8%;

        &:nth-of-type(2n) {
          margin-right: 0;
        }

        &:only-child {
          width: 100%;
          margin-right: 0;
        }
      }

      @media screen and (max-width: 1110px) {
        flex-flow: column nowrap;

        >.col {
          width: 100%;
          margin-right: 0;
          margin-bottom: 48px;

          &:last-of-type {
            margin-bottom: 0;
          }
        }
      }
    }

    >.pagination {
      padding-top: 80px;
      display: flex;
      flex-flow: row nowrap;
      align-items: center;
      justify-content: flex-end;

      button {
        border: unset;
      }

      .pagination__span {
        font-size: 16px;
        color: var(--color-white);
        padding: 0 10px;
      }
    }
  }
}