.blog-post-card {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;

  >.image-link {
    min-width: 288px;

    >.post-image {
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
      min-height: 288px;
      max-width: 288px;
      width: 100%;
      border-radius: 16px;
    }
  }

  >.text-container {
    width: 50%;
    padding: 18.5px 0 18.5px 32px;

    >.title {
      font-size: 28px;
      font-weight: 600;
      color: var(--color-white);
      margin-bottom: 8px;
    }

    >.excerpt {
      color: var(--color-white);
      margin-bottom: 24px;
      font-size: 16px;
    }

    >a {
      font-size: 16px;

      >svg {
        color: var(--color-white);
        font-size: 24px;
        position: relative;
        top: -1px;
      }
    }

    @media screen and (max-width: 576px) {
      padding-bottom: 0;
    }
  }

  @media screen and (max-width: 576px) {
    flex-flow: column nowrap;

    >.image-link {
      width: 100%;

      >.post-image {
        max-width: unset;
      }
    }

    >.text-container {
      width: 100%;
      padding-left: 0;
    }
  }
}