.call-to-action-section {
  padding-bottom: 112px;
  @media screen and (max-width: 576px) {
    padding-bottom: 64px;
  }
  > .container {
    > .row {
      > .col {
        > .cta-text {
          display: flex;
          flex-flow: column nowrap;
          align-items: center;
          > .title {
            font-size: 36px;
            font-weight: 600;
            margin-bottom: 16px;
          }
          > .subtitle {
            margin-bottom: 24px;
            @media screen and (max-width: 576px) {
              font-size: 16px;
            }
          }
          > .btn {
            font-size: 14px;
          }
        }
      }
    }
  }
}
