.cta-2-section {
    display: flex;
    padding: 6em 0;
    align-items: center;
    justify-content: center;
    background-color: var(--color-third);

    .action-buttons {
        gap: 16px;
        display: flex;
        justify-content: center;

        >.btn {
            font-size: 14px;
            border: 1px solid var(--color-primary);

            &:hover,
            &:active,
            &:focus {
                background-color: transparent;
                color: var(--color-neutral-600);
                border-color: var(--color-neutral-600);
            }
        }
    }

    .cta-2-card {
        width: 100%;
        max-width: 91%;
        padding: 85px 15px;
        text-align: center;
        border-radius: 16px;
        background-color: var(--color-fourth);

        .small-title {
            margin-bottom: 16px;
            font-size: 16px;
        }

        h2 {
            font-size: 52px;
            font-weight: 600;
            margin-bottom: 24px;
            color: var(--color-dark);
        }

        p {
            font-size: 16px;
            margin-bottom: 32px;
            color: var(--color-neutral-600);
        }

        @media screen and (max-width: 991px) {
            h2 {
                font-size: 36px;
            }
        }

        @media screen and (max-width: 768px) {
            padding: 32px;
        }
    }
}