.create-post-page {
    padding: 80px 0;
    background-color: var(--color-secondary);

    >.container {
        max-width: 800px;
        margin: 100px auto 0 auto;

    }

    h1 {
        font-size: 32px;
        margin-bottom: 24px;
        color: var(--color-white);
    }

    .error-message {
        color: #b91c1c;
        margin-bottom: 24px;
        padding: 12px;
        background-color: #fee2e2;
        border-radius: 8px;
        border: 1px solid #fca5a5;
    }

    .create-post-form {
        display: flex;
        flex-direction: column;
        gap: 24px;
        background-color: var(--color-third);
        padding: 40px;
        border-radius: 16px;
        box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.05);

        .form-group {
            display: flex;
            flex-direction: column;

            label {
                font-size: 14px;
                font-weight: 600;
                margin-bottom: 8px;
                color: var(--color-dark-1);
            }

            input[type="text"],
            input[type="email"],
            textarea,
            input[type="file"],
            select {
                background-color: var(--color-white);
                border: 1px solid var(--color-neutral-400);
                border-radius: 8px;
                padding: 12px;
                font-size: 16px;
                width: 100%;
                color: var(--color-dark-1);
            }

            input[type="text"]:focus,
            input[type="email"]:focus,
            textarea:focus,
            select:focus {
                outline: none;
                border-color: var(--color-primary);
            }

            &.checkbox-group {
                flex-direction: row;
                align-items: center;
                gap: 10px;

                input[type="checkbox"] {
                    width: 20px;
                    height: 20px;
                    cursor: pointer;
                }

                label {
                    margin-bottom: 0;
                    cursor: pointer;
                }
            }
        }

        .form-text {
            font-size: 13px;
            color: var(--color-neutral-600);
            margin-top: 6px;
        }

        .submit-btn {
            align-self: flex-start;
            font-size: 14px;
            margin-top: 8px;
        }

        @media screen and (max-width: 768px) {
            padding: 24px;
        }
    }
}