.dashboard-filter-section {
    >.filter-row {
        display: flex;
        flex-flow: column nowrap;
        margin-bottom: 10px;

        .filter-group {
            width: 100%;
            display: flex;
            flex-flow: column nowrap;
            align-items: self-end;
            gap: 16px;

            input {
                width: 100%;
                text-align: center;
            }

        }

        .merchant-group {
            width: 100%;
            display: flex;
            flex-flow: row nowrap;
            align-items: self-end;

            >input {
                margin-right: 20px;
                width: 100%;
            }

            select {
                width: 100%;
                text-align: center;
            }

            @media screen and (max-width: 650px) {
                flex-flow: column nowrap;

                >input {
                    margin-right: 0;
                    margin-bottom: 16px;
                }
            }
        }

        .date-and-amount-group {
            width: 100%;
            display: flex;
            flex-flow: row nowrap;
            align-items: self-end;
            margin-bottom: 16px;

            .date-group {
                width: 100%;
                display: flex;
                flex-flow: row nowrap;
                align-items: center;
                margin-right: 20px;
            }

            .amount-group {
                width: 100%;
                display: flex;
                flex-flow: row nowrap;
                align-items: center;
            }

            @media screen and (max-width: 650px) {
                flex-flow: column nowrap;
                margin-bottom: 16px;

                .date-group {
                    margin-right: 0;
                    margin-bottom: 16px;
                }
            }
        }

        .separator {
            color: var(--color-white);
            margin: 0 5px;
        }

        input,
        .filter-categories {
            color: var(--color-white);
            background: none;
            border: none;
            border-bottom: 1px solid #ffffff4d;
            outline: none;
            padding: 10px 0;
            font-size: 14px;
            font-weight: 500;
            transition: border-color .3s;

            &::placeholder {
                color: var(--color-white);
            }

            &:focus {
                border-bottom-color: var(--color-white);
            }

            &::-webkit-calendar-picker-indicator {
                display: none;
            }
        }

        .buttons-row {
            display: flex;
            flex-flow: row nowrap;
            align-items: center;
            justify-content: space-between;
            width: 100%;
            padding: 10px 0;

            .filter-actions {
                width: 50%;
                display: flex;
                flex-flow: row nowrap;
                align-items: center;
                gap: 16px;
            }

            .other-buttons {
                width: 50%;
                display: flex;
                flex-flow: row nowrap;
                align-items: center;
                justify-content: flex-end;
                gap: 16px;
            }

            @media screen and (max-width: 768px) {
                .filter-actions {
                    width: 30%;
                }

                .other-buttons {
                    width: 70%;
                }
            }

            @media screen and (max-width: 576px) {
                flex-flow: column nowrap;

                .filter-actions {
                    width: 100%;
                    margin-bottom: 16px;
                    justify-content: center;
                }

                .other-buttons {
                    width: 100%;
                    justify-content: center;
                    min-height: 40px;
                }
            }
        }
    }
}