.dashboard-page {
    padding: 120px 0 64px;
    background-color: var(--color-fifth);

    @media screen and (max-width: 650px) {
        padding: 80px 0 64px;
    }
}

.dashboard-container {
    max-width: 1000px;
    margin: 50px auto;
    padding: 0 20px;

    .empty-state {
        text-align: center;
        color: var(--color-white);
        font-size: 16px;
        margin-top: 20px;
        font-weight: 600;
    }

    @media screen and (max-width: 650px) {
        padding: 0 15px;
    }

}

.dashboard-header {
    display: flex;
    justify-content: space-between;
    flex-flow: row nowrap;
    align-items: flex-start;
    margin-bottom: 30px;

    h1 {
        margin-bottom: 20px;
    }

    @media screen and (max-width: 650px) {
        flex-flow: column nowrap;
    }
}

.dashboard-header h1 {
    font-size: 2rem;
    color: var(--color-white);
}

/* Table Styles */
.table-wrapper {
    background: var(--color-white);
    border-radius: 12px;
    box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1);
    overflow: hidden;
}

.receipt-table {
    width: 100%;
    border-collapse: collapse;

    @media screen and (max-width: 650px) {
        overflow-x: scroll;
        display: block;
    }
}

.receipt-table th {
    /* background: #f8fafc; */
    background-color: var(--color-primary);
    text-align: left;
    padding: 16px;
    font-weight: 600;
    /* color: #64748b; */
    color: var(--color-white);
    font-size: 0.9rem;
}

.receipt-table td {
    padding: 16px;
    font-size: 14px;
    border-bottom: 1px solid #e2e8f0;
    color: #334155;
}

.clickable-row {
    cursor: pointer;
    transition: background 0.2s;
}

.clickable-row:hover {
    background: #e2e8f0;
    /* Slightly darker hover to be visible over stripes */
}

/* Zebra Striping */
.receipt-table tbody tr:nth-child(odd) {
    background-color: #ededed;
}

.category-badge {
    background: #eef2ff;
    color: var(--color-fifth);
    border-radius: 20px;
    font-size: 14px;
    padding: 4px 10px;
    line-height: 20px;
    font-weight: 600;
}

/* Pagination */
.pagination {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column nowrap;
    gap: 20px;
    margin-top: 20px;
    color: #64748b;

    .pagination-controls {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 20px;

        >button {
            color: var(--color-primary);

            &:not(:disabled) {

                &:hover,
                &:focus,
                &:active {
                    background-color: var(--color-primary);
                    color: var(--color-white);
                    border-color: var(--color-primary);
                }
            }

        }

        >span {
            color: var(--color-white);
            font-size: 14px;
        }

    }

    .items-per-page {
        color: var(--color-white);
        font-size: 14px;

        >select {
            color: var(--color-white);
            background: none;
            border: none;
            border-bottom: 1px solid #ffffff4d;
            outline: none;
            font-size: 14px;
            font-weight: 500;
            transition: border-color .3s;
            border-radius: unset;
            margin-left: 10px;
            padding: 5px;
        }
    }
}

.pagination button {
    display: flex;
    align-items: center;
    gap: 8px;
    padding: 8px 16px;
    background: white;
    border: 1px solid #e2e8f0;
    border-radius: 8px;
    cursor: pointer;
}

.pagination button:disabled {
    opacity: 0.5;
    cursor: not-allowed;
}

/* Modal Styles */
.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1000;

    @media screen and (max-width: 768px) {
        .modal-grid {
            flex-flow: column nowrap;
        }
    }
}

.modal-content {
    background: white;
    width: 90%;
    max-width: 900px;
    height: 80vh;
    border-radius: 16px;
    position: relative;
    overflow: hidden;
    display: flex;
    flex-direction: column;
}

.close-btn {
    position: absolute;
    top: 15px;
    right: 15px;
    background: transparent;
    border: none;
    font-size: 1.5rem;
    cursor: pointer;
    color: #64748b;
    z-index: 10;
}

.modal-grid {
    display: flex;
    height: 100%;
}

.modal-image-col {
    flex: 1;
    background: var(--color-primary);
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: var(--color-white);

    h3 {
        margin-bottom: 20px;
    }

    >a {
        font-size: 14px;
    }

    .no-image-placeholder {
        font-size: 14px;
    }
}

.image-container {
    position: relative;
    width: 100%;
    height: 100%;
    margin-bottom: 10px;
}

.modal-form-col {
    flex: 1;
    padding: 40px;
    overflow-y: auto;
}

.modal-form-col h3 {
    margin-bottom: 20px;
    font-size: 1.5rem;
    color: #1e293b;
}

.form-group {
    margin-bottom: 20px;
}

.form-group label {
    display: block;
    margin-bottom: 8px;
    font-weight: 500;
    font-size: 16px;
    color: #475569;
}

.form-group input,
.form-group select {
    width: 100%;
    padding: 10px;
    border: 1px solid #cbd5e1;
    border-radius: 8px;
    font-size: 1rem;
}

.modal-actions {
    margin-top: 30px;
}