.email-modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1000;

    @media screen and (max-width: 768px) {
        .modal-grid {
            flex-flow: column nowrap;
        }
    }

    .modal-content {
        background: var(--color-primary);
        width: 90%;
        max-width: 900px;
        padding: 24px;
        height: 80vh;
        border-radius: 16px;
        position: relative;
        overflow: hidden;
        display: flex;
        flex-direction: column;

        .modal-title {
            font-size: 24px;
            font-weight: 600;
            color: var(--color-white);
        }

        .modal-description {
            margin-bottom: 16px;
            color: var(--color-white);
        }
    }

    .close-btn {
        position: absolute;
        top: 15px;
        right: 15px;
        background: transparent;
        border: none;
        font-size: 1.5rem;
        cursor: pointer;
        color: var(--color-white);
        z-index: 10;
    }

    .form-group {
        label {
            display: block;
            margin-bottom: 8px;
            font-weight: 500;
            font-size: 16px;
            color: var(--color-white);
        }

        input,
        select {
            width: 100%;
            padding: 10px;
            border: 1px solid #cbd5e1;
            border-radius: 8px;
            font-size: 1rem;
        }

        .email-input {
            width: 100%;
            padding: 10px;
            border-radius: 6px;
            border: 1px solid #cbd5e1;
            margin-bottom: 20px
        }

        textarea {
            width: 100%;
            padding: 10px;
            border: 1px solid #cbd5e1;
            border-radius: 8px;
            font-size: 1rem;
            resize: vertical;
        }
    }

    .checkboxes-and-actions {
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-flow: row nowrap;
        margin-top: 20px;

        .checkbox-group {
            display: flex;
            flex-flow: row nowrap;
            gap: 10px;
            width: 70%;

            .checkbox-label {
                gap: 8px;
                display: flex;
                align-items: center;
                flex-flow: row nowrap;

                input {
                    width: unset;
                }
            }
        }

        .modal-actions {
            width: 30%;
            display: flex;
            justify-content: flex-end;
            align-items: center;
            gap: 10px;

            .btn {
                color: var(--color-primary);
                background-color: var(--color-white);

                &:hover,
                &:focus,
                &:active {
                    background-color: transparent;
                    color: var(--color-white);
                }
            }
        }

        @media screen and (max-width: 991px) {
            flex-flow: column nowrap;
            align-items: flex-start;

            .checkbox-group {
                width: 100%;
            }

            .modal-actions {
                width: 100%;
                margin-top: 20px;
                justify-content: flex-start;
            }
        }
    }

}