.dashboard-filter-section {
    >.filter-row {
        display: flex;
        flex-flow: row wrap;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 10px;

        >.buttons-row {
            display: flex;
            flex-flow: row nowrap;
            align-items: center;
            justify-content: space-between;
            width: 100%;
            padding: 10px 0;

            .filter-actions {
                width: 50%;
                display: flex;
                flex-flow: row nowrap;
                align-items: center;
                gap: 16px;
            }

            .other-buttons {
                width: 50%;
                display: flex;
                flex-flow: row nowrap;
                align-items: center;
                justify-content: flex-end;
                gap: 16px;
            }
        }
    }
}