.features {
  padding: 80px 0;
  background-color: var(--color-white);
  @media screen and (max-width: 768px){
    padding: 48px 0;          
  }
  .row {
    display: flex;
    flex-flow: row nowrap;
  }
  .col {
    width: 100%;
    .top-text {
      .title {
        text-align: center;
      }
    }
    .boxes {
      display: flex;
      align-items: stretch;
      justify-content: space-between;
      flex-flow: row wrap;
      .box {
        width: 23%;
        margin-right: 2%;
        margin-bottom: 2%;
        overflow: hidden;
        min-height: 320px;
        border-radius: 16px;
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        background-color: var(--color-fourth);
        box-shadow: 0px 1px 6px -1px var(--color-neutral-400);
        @media screen and (max-width: 991px){
          width: 48%;
          margin-bottom: 3%;
          &:nth-of-type(2){
            margin-right: 0;
          }
          &:last-of-type {
            margin-right: 0;
          }
        }
        @media screen and (max-width: 576px){
          width: 100%;
          margin-right: 0;
        }
        .box-text-container {
          color: var(--color-white);
          position: relative;
          z-index: 1;
          height: 100%;
          display: flex;
          flex-flow: column nowrap;
          justify-content: center;
          > .title {
            margin-bottom: 16px;
          }
          &:after {
            content: "";
            background-color: rgba(0, 0, 0, 0.3);
            position: absolute;
            z-index: -1;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
          }
          > svg {
            font-size: 30px;
            color: var(--color-white);
          }
        }
      }
    }
  }
}
