.features_page {

    .upload-description-section {
        background-color: var(--color-third);
        color: var(--color-dark);
    }

    .cta-2-section {
        background-color: var(--color-white);
    }
}