.features_page {

    .upload-description-section {
        background-color: var(--color-third);
        color: var(--color-dark);
    }

    .capture_data_instantly {
        color: var(--color-white);

        .btn {
            color: var(--color-white);
            border: 1px solid var(--color-white);

            &:hover,
            &:active,
            &:focus {
                border: 1px solid var(--color-fifth);
            }
        }
    }

    .cta-2-section {
        background-color: var(--color-white);
    }
}