.features {
  padding: 80px 0;
  background-color: var(--color-white);
  .row {
    display: flex;
    flex-flow: row nowrap;
  }
  .col {
    width: 100%;
    .boxes {
      gap: 32px;
      display: flex;
      align-items: stretch;
      flex-flow: row nowrap;
      .box {
        overflow: hidden;
        border-radius: 16px;
        background-color: var(--color-fourth);
        box-shadow: 0px 1px 6px -1px var(--color-neutral-400);
        width: 25%;
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        min-height: 320px;
        .box-text-container {
          color: var(--color-white);
          position: relative;
          z-index: 1;
          height: 100%;
          display: flex;
          flex-flow: column nowrap;
          justify-content: center;
          > .title {
            margin-bottom: 16px;
          }
          &:after {
            content: "";
            background-color: rgba(0, 0, 0, 0.3);
            position: absolute;
            z-index: -1;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
          }
          > svg {
            font-size: 30px;
            color: var(--color-white);
          }
        }
      }
      @media screen and (max-width: 1070px) {
        flex-flow: row wrap;
        .box {
          width: 48%;
        }
      }
      @media screen and (max-width: 845px) {
        .box {
          width: 47%;
        }
      }
      @media screen and (max-width: 576px) {
        gap: 0;
        .box {
          width: 100%;
          margin-bottom: 32px;
          &:last-of-type {
            margin-bottom: 0;
          }
        }
      }
    }
  }
}
