.footer {
  background-color: var(--color-fifth);
  padding: 80px 0;
  > .container {
    > .row {
      display: flex;
      flex-flow: row nowrap;
      align-items: center;
      justify-content: space-between;
    }
    &:first-of-type {
      > .row {
        display: flex;
        flex-flow: row nowrap;
        justify-content: flex-start;
        > .col {
          &:first-of-type {
            margin-right: 10%;
            width: 58%;
          }
          &:last-of-type {
            width: 31%;
          }
        }
      }
    }
    &.bottom-container {
      padding-top: 80px;
      padding-bottom: 0;
      > .row {
        align-items: center;
        justify-content: space-between;
        border-top: 1px solid var(--color-neutral-400);
        padding-top: 32px;
      }
      p {
        font-size: 14px;
        color: var(--color-white);
      }
      .copyright-column {
        display: flex;
        flex-flow: row nowrap;
        align-items: center;
        p, a {
          margin-right: 24px;
        }
        a {
          text-decoration: underline;
          color: var(--color-white);
          padding: 5px;
          &:last-of-type {
            margin-right: 0;
          }
        }
      }
      .social-media-column {
        a {
          padding: 5px;
          margin-right: 12px;
          &:last-of-type {
            margin-right: 0;
          }
          svg {
            font-size: 24px;
            color: var(--color-white);
          }
        }
      }
    }
  }
  .links-columns {
    display: flex;
    flex-flow: row nowrap;
    > .col {
      margin-right: 6%;
      width: 25%;
      &:last-of-type {
        margin-right: 0;
      }
    }
  }
  h3 {
    font-size: 16px;
    color: var(--color-white);
    padding-bottom: 16px;
    font-weight: 500;
  }
  .links-container {
    display: flex;
    flex-flow: column nowrap;
    > a {
      font-size: 14px;
      margin-bottom: 8px;
      margin-left: -5px;
      padding: 5px;
      color: var(--color-white);
      &:last-of-type {
        margin-bottom: 0;
      }
    }
  }
  .subscribe-column {
    p {
      color: var(--color-white);
    }
  }
}
