.forgot-password-page {
    padding: 120px 0;
    background-color: var(--color-secondary);
    color: var(--color-white);

    .top-text {
        text-align: center;
        margin-bottom: 40px;

        .title {
            color: var(--color-white);
            margin: 0;
        }
    }

    .forgot-password-section {
        form {
            display: flex;
            flex-flow: column nowrap;
            align-items: center;

            .input-group {
                max-width: 300px;
                width: 100%;

                label {
                    margin-bottom: 20px;
                    display: block;

                    h2 {
                        font-size: 20px;
                        font-weight: 500;
                        text-align: center;
                    }
                }

                .icon-and-input {
                    display: flex;
                    align-items: center;
                    margin-bottom: 20px;


                    svg {
                        font-size: 30px;
                    }

                    input {
                        font-size: 14px;
                        width: 100%;
                        color: var(--color-black);
                        margin-left: 10px;
                        border-radius: 14px;
                        padding: 10px;
                        border: unset;
                    }
                }


                .icon-and-input {
                    position: relative;
                }
            }
        }

        .remembered-it {
            text-align: center;
            margin-top: 20px;

            a {
                text-decoration: underline;
            }
        }
    }
}