@import "osmo-scaling-system.css";
@import "top-navbar.css";
@import "hero-section.css";
@import "footer.css";
@import "how-it-works.css";
@import "features.css";
@import "testimonials.css";
@import "hero-section-two.css";
@import "pricing-plans.css";

/* Text */
.small-title {
  font-size: 16px;
  font-weight: 600;
}
.title {
  font-size: 52px;
  font-weight: 500;
}
.subtitle {
  font-size: 18px;
  font-weight: 500;
}

.top-text {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  color: var(--color-dark-1);
  .small-title {
    margin-bottom: 16px;
    @media screen and (max-width: 768px) {
      margin-bottom: 12px;
    }
  }
  .title {
    margin-bottom: 24px;
    @media screen and (max-width: 768px) {
      margin-bottom: 20px;
    }
  }
  .subtitle {
    margin-bottom: 80px;
    @media screen and (max-width: 768px) {
      margin-bottom: 48px;
      font-size: 16px;
    }
  }
}

.box-text-container {
  padding: 24px;
  .small-title {
    font-weight: 600;
    font-size: 16px;
  }
  .title {
    font-size: 28px;
    font-weight: 600;
    margin: 8px 0;
  }
  .text {
    font-size: 16px;
  }
  a {
    margin-top: 24px;
    font-size: 14px;
    font-weight: 600;
    display: inline-block;
    > svg {
      font-weight: 600;
      font-size: 18px;
      position: relative;
      top: -1px;
    }
  }
}

/* Links Underline Animation */
.line-transform {
  position: relative;
  &:after {
    content: "";
    display: block;
    position: absolute;
    margin: auto;
    height: 1px;
    width: 0;
    right: auto;
    left: 0;
    background: transparent;
    transition: all 0.5s ease, background-color 0.5s ease;
  }
  &:hover,
  &:active,
  &:focus {
    width: 100%;
  }
}
