@import "osmo-scaling-system.css";
@import "top-navbar.css";
@import "hero-section.css";
@import "footer-section.css";
@import "how-it-works.css"; 
@import "features.css";

/* Text */
.small-title {
  font-size: 16px;
  font-weight: 600;
}
.title {
  font-size: 52px;
  font-weight: 500;
}
.subtitle {
  font-size: 18px;
  font-weight: 500;
}

/* Links Underline Animation */
.line-transform {
  position: relative;
  &:after {
    content: "";
    display: block;
    position: absolute;
    margin: auto;
    height: 1px;
    width: 0;
    right: auto;
    left: 0;
    background: transparent;
    transition: all 0.5s ease, background-color 0.5s ease;
  }
  &:hover,
  &:active,
  &:focus {
    width: 100%;
  }
}
