@import "osmo-scaling-system.css";

/* Buttons */

/* Top Navigation */
.top-navigation {
  padding-top: 1.18em;
  width: 100%;
  position: fixed;
  > .container {
    > .row {
      display: flex;
      flex-flow: row nowrap;
      justify-content: space-between;
      align-items: center;
    }
  }
  .mobile-menu-column {
    display: block;
    @media screen and (min-width: 767px) {
      display: none;
    }
  }

  .top-menu-column {
    display: flex;
    flex-flow: row nowrap;
    gap: 32px;
  }

  .top-buttons {
    > a:first-of-type {
      margin-right: 10px;
    }
  }
}
