@import "osmo-scaling-system.css";
@import "top-navbar.css";
@import "hero-section.css";
@import "footer-section.css";
@import "how-it-works.css";

/* Links Underline Animation */
.line-transform {
  position: relative;
  &:after {
    content: "";
    display: block;
    position: absolute;
    margin: auto;
    height: 1px;
    width: 0;
    right: auto;
    left: 0;
    background: transparent;
    transition: all 0.5s ease, background-color 0.5s ease;
  }
  &:hover,
  &:active,
  &:focus {
    width: 100%;
  }
}
