.hero-section-two {
  background-color: var(--color-secondary);

  >.container {
    padding: 184px var(--container-padding) 112px;
    
    .top-text {
      color: var(--color-white);
      max-width: 500px;
      margin: 0 auto;
      display: flex;
      flex-flow: column nowrap;
      align-items: center;
      text-align: center;

      .title {
        margin-bottom: 24px;
        font-weight: 600;
        max-width: 450px;
      }

      .subtitle {
        font-size: 16px;
        margin-bottom: 32px;
      }

      .buttons {
        font-size: 14px;

        >a:first-of-type {
          margin-right: 18px;
        }
      }
    }
    @media screen and (max-width: 576px){
      padding: 112px var(--container-padding) 64px;
    }
  }
}