.hero-section-two {
  background-color: var(--color-secondary);
  > .container {
    padding: 112px 0;
    .top-text {
      color: var(--color-white);
      max-width: 662px;
      margin: 0 auto;
      display: flex;
      flex-flow: column nowrap;
      align-items: center;
      text-align: center;
      h1 {
        margin-top: 16px;
        margin-bottom: 24px;
        padding: 10;
        font-size: 72px;
      }
      .subtitle {
        margin-bottom: 32px;
      }
      .buttons {
        font-size: 14px;
        > a:first-of-type {
          margin-right: 18px;
        }
      }
    }
  }
}
