.hero-section-two {
  background-color: var(--color-secondary);
  > .container {
    padding: 184px 0 112px;
    .top-text {
      color: var(--color-white);
      max-width: 500px;
      margin: 0 auto;
      display: flex;
      flex-flow: column nowrap;
      align-items: center;
      text-align: center;
      h1 {
        margin-bottom: 24px;
        font-size: 4.7em;
        line-height: 1.2em;
        font-weight: 600;
      } 
      .subtitle {
        font-size: 16px;
        margin-bottom: 32px;
      }
      .buttons {
        font-size: 14px;
        > a:first-of-type {
          margin-right: 18px;
        }
      }
    }
  }
}
