/* ------------------------- Osmo [https://osmo.supply/] ------------------------- */
/* ------------------------- Variables ------------------------------------------- */
:root {
  --color-light: var(--color-neutral-200);
  --color-dark: var(--color-neutral-800);
  --color-primary: #1e90ff;
  --color-secondary: #61b1ff;
  --color-third: #e8f3ff;
  --color-fourth: #d2e8ff;
  --color-fifth: #1873cc;
  --color-sixth: #1e90ff;
  --color-seven: #f2f2f2;
  --color-dark-1: #0b0103;
  --color-red: #ff0000;
  --color-neutral-100: #ffffff;
  --color-neutral-200: #efeeec;
  --color-neutral-300: #e3e1de;
  --color-neutral-400: #cbc8c5;
  --color-neutral-500: #818180;
  --color-neutral-600: #2c2c2c;
  --color-neutral-700: #1f1f1f;
  --color-neutral-800: #131313;
  --color-neutral-900: #000000;
  --color-white: var(--color-neutral-100);
  --color-black: var(--color-neutral-900);
  --color-error: var(--color-primary);
  --color-success: #0ba954;
  --cubic-default: cubic-bezier(0.65, 0.05, 0, 1);
  --duration-default: 0.735s;
  --animation-default: var(--duration-default) var(--cubic-default);
  --gap: 2em;
  --section-padding: calc(3.5em + (var(--gap) * 2));
  --container-padding: 4.18em;
  --header-height: calc(1.5em + (var(--gap) * 2));
  --footer-height: calc(2.785em + (var(--gap) * 2));
}

/* Tablet */
@media screen and (max-width: 991px) {
  :root {
    --container-padding: 1.5em;
  }
}

/* Mobile Landscape */
@media screen and (max-width: 767px) {
  :root {
    --container-padding: 1em;
    --section-padding: calc(var(--gap) * 2);
  }
}

/* Mobile Portrait */
@media screen and (max-width: 479px) {
  :root {}
}

/* ------------------------- Scaling System by Osmo [https://osmo.supply/] -------------------------  */
/* Desktop */
:root {
  --size-unit: 15;
  /* body font-size in design - no px */
  --size-container-ideal: 1440;
  /* screen-size in design - no px */
  --size-container-min: 992px;
  --size-container-max: 1920px;
  --size-container: clamp(var(--size-container-min), 100vw, var(--size-container-max));
  --size-font: calc(var(--size-container) / (var(--size-container-ideal) / var(--size-unit)));
}

/* Tablet */
@media screen and (max-width: 991px) {
  :root {
    --size-container-ideal: 834;
    /* screen-size in design - no px */
    --size-container-min: 768px;
    --size-container-max: 991px;
  }
}

/* Mobile Landscape */
@media screen and (max-width: 767px) {
  :root {
    --size-container-ideal: 834;
    /* screen-size in design - no px */
    --size-container-min: 480px;
    --size-container-max: 767px;
  }
}

/* Mobile Portrait */
@media screen and (max-width: 479px) {
  :root {
    --size-container-ideal: 834;
    /* screen-size in design - no px */
    --size-container-min: 0px;
    --size-container-max: 479px;
  }
}

/* ------------------------- Hide Scrollbar -------------------------------------------------- */

body ::-webkit-scrollbar,
body::-webkit-scrollbar {
  display: none;
}

/* Chrome, Safari, Opera */
body {
  -ms-overflow-style: none;
}

/* IE & Edge */
html {
  scrollbar-width: none;
}

/* Firefox */

/* ------------------------- Reset -------------------------------------------------- */
*,
*:after,
*:before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

html {
  scroll-behavior: initial;
}

html,
body {
  -webkit-font-smoothing: antialiased;
}

svg {
  max-width: none;
  height: auto;
  box-sizing: border-box;
  vertical-align: middle;
}

a {
  color: inherit;
}

/* Selection */
::selection {
  background-color: var(--color-primary);
  color: var(--color-dark);
  text-shadow: none;
}

::-moz-selection {
  background-color: var(--color-primary);
  color: var(--color-dark);
  text-shadow: none;
}

body {
  color: #333;
  font-family: "PP Neue Montreal", Arial, Helvetica Neue, Helvetica, sans-serif;
  font-size: var(--size-font);
  line-height: 1;
  margin: 0;
  font-weight: 500;
  cursor: url("https://cdn.prod.website-files.com/6708f85ff3d3cba6aff436fb/671251b239d7aeb290a31ac5_cursor-default%402x.svg") 2 0, auto;
}

a,
button {
  cursor: url("https://cdn.prod.website-files.com/6708f85ff3d3cba6aff436fb/671251b212e6b71494aa67ff_cursor-pointer%402x.svg") 12 0, pointer;
}

h1 {
  margin-top: 0;
  margin-bottom: 0;
  font-size: 7.5em;
  font-weight: 500;
  line-height: 1;
}

h2 {
  margin-top: 0;
  margin-bottom: 0;
  font-size: 5em;
  font-weight: 500;
  line-height: 1.05;
}

h3 {
  margin-top: 0;
  margin-bottom: 0;
  font-size: 2.5em;
  font-weight: 500;
  line-height: 1.1;
}

h4 {
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: 1.75em;
  font-weight: 500;
  line-height: 1.15;
}

h5 {
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: 1.25em;
  font-weight: 500;
  line-height: 1.2;
}

p {
  margin-bottom: 0;
  margin-top: 0;
  font-size: 1em;
  font-weight: 400;
  line-height: 1.4;
  font-weight: 500;
}

a {
  color: inherit;
  text-decoration: unset;

  &:hover,
  &:active,
  &:focus {
    text-decoration: underline;
  }
}

strong {
  font-weight: 600;
}

.body {
  background-color: var(--color-neutral-300);
  color: var(--color-dark);
  font-family: PP Neue Montreal, Arial, sans-serif;
  font-weight: 500;
  line-height: 1;
}

.body.is--dark {
  background-color: var(--color-black);
  color: var(--color-light);
}

.code-embed-css {
  pointer-events: none;
  font-size: var(--size-font);
  width: 0;
  height: 0;
  position: absolute;
  top: 0;
  left: 0;
  overflow: hidden;
}

.code-embed-osmo,
.code-embed-js {
  pointer-events: none;
  width: 0;
  height: 0;
  position: absolute;
  top: 0;
  left: 0;
  overflow: hidden;
}

.osmo-ui {
  z-index: 100;
  pointer-events: none;
  flex-flow: column;
  justify-content: space-between;
  align-items: stretch;
  display: flex;
  position: fixed;
  inset: 0;
}

.nav-row {
  justify-content: space-between;
  align-items: center;
  width: 100%;
  display: flex;
}

.nav-logo-row {
  pointer-events: auto;
  justify-content: space-between;
  align-items: center;
  width: 13em;
  display: flex;
}

.nav-logo__wordmark {
  width: 4em;
}

.nav-logo__icon {
  width: 1.5em;
  height: 1.5em;
}

.container {
  z-index: 1;
  max-width: var(--size-container);
  padding-left: var(--container-padding);
  padding-right: var(--container-padding);
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  position: relative;
}

.container.is--full {
  max-width: 100%;
}

.container.is--medium {
  max-width: calc(var(--size-container) * 0.85);
}

.container.is--small {
  max-width: calc(var(--size-container) * 0.7);
}

.nav-row__right {
  grid-column-gap: 0.625rem;
  grid-row-gap: 0.625rem;
  pointer-events: auto;
  justify-content: flex-end;
  align-items: center;
  display: flex;
}

.header {
  padding-top: var(--gap);
  position: relative;
}

.website-link {
  white-space: nowrap;
  text-decoration: none;
  position: relative;
}

.website-link.is--alt {
  grid-column-gap: 0.25em;
  grid-row-gap: 0.25em;
  justify-content: flex-start;
  align-items: center;
  height: 1.5em;
  display: flex;
}

.inline-link__p {
  margin-bottom: 0;
}

.website-link__arrow-svg {
  width: 1em;
  margin-top: 0.2em;
}

.website-link__arrow-svg.is--duplicate {
  position: absolute;
  right: 100%;
}

.website-link__arrow {
  position: relative;
  overflow: hidden;
}

.cloneable {
  padding: var(--section-padding) var(--container-padding);
  justify-content: center;
  align-items: center;
  min-height: 100svh;
  display: flex;
  position: relative;
}

.footer {
  padding-bottom: var(--gap);
  position: relative;
}

.footer-row {
  justify-content: space-between;
  align-items: flex-end;
  display: flex;
}

.cloneable-title {
  grid-column-gap: 0.5em;
  grid-row-gap: 0.5em;
  pointer-events: auto;
  display: flex;
  position: relative;
}

.cloneable-title__nr {
  opacity: 0.5;
  white-space: nowrap;
  margin-bottom: 0;
  font-size: 1em;
  font-weight: 500;
  line-height: 1;
}

.cloneable-title__h1 {
  white-space: nowrap;
  margin-top: 0;
  margin-bottom: 0;
  font-size: 1em;
  font-weight: 500;
  line-height: 1;
}

.clone-in-webflow {
  grid-column-gap: 0.75em;
  grid-row-gap: 0.75em;
  background-color: var(--color-light);
  pointer-events: auto;
  border-radius: 0.25em;
  justify-content: space-between;
  align-items: center;
  width: 21.25em;
  height: 2.875em;
  margin-bottom: -1em;
  margin-right: -1em;
  padding-left: 1em;
  padding-right: 0.75em;
  text-decoration: none;
  display: flex;
}

.clone-in-webflow__p {
  margin-bottom: 0;
  font-size: 1em;
}

.webflow-logo-svg {
  flex-shrink: 0;
  width: 1.5em;
}

.cloneable-title__gradient {
  background-image: linear-gradient(270deg, var(--color-neutral-200), transparent);
  width: 1em;
  height: 100%;
  display: none;
  position: absolute;
  top: 0;
  right: 0;
}

.osmo-ui__bg {
  border-top-style: solid;
  border-top-width: 1px;
  border-top-color: var(--color-neutral-400);
  background-color: var(--color-neutral-300);
  height: calc(100% + 1px + (var(--gap) * 0.5));
  width: 100%;
  display: block;
  position: absolute;
  bottom: 0;
}

.osmo-ui__bg.is--header {
  border-top-style: none;
  border-bottom-style: solid;
  border-bottom-width: 1px;
  border-bottom-color: var(--color-neutral-400);
  height: calc(100% + 1px + var(--gap));
  top: 0;
  bottom: auto;
}

.osmo-icon-svg {
  width: 8em;
}

.styleguide {
  padding-bottom: calc(var(--footer-height) + var(--section-padding));
  padding-top: calc(var(--header-height) + var(--section-padding));
  flex-flow: column;
  justify-content: center;
  align-items: center;
  display: block;
}

.styleguide p {
  font-weight: 400;
}

.no-border {
  border: none;
}

.btn {
  border-radius: 1em;
  flex: 0 auto;
  grid-template-rows: auto auto;
  grid-template-columns: 1fr 1fr;
  grid-auto-columns: 1fr;
  padding: 0.75em 1.5em;
  line-height: 1;
  font-weight: 500;
  text-decoration: none;
  display: inline-block;
}

.btn-primary {
  background-color: var(--color-primary);
  color: var(--color-white);

  &:hover,
  &:focus,
  &:active {
    background-color: var(--color-white);
    color: var(--color-primary);
  }
}

.btn-secondary {
  color: var(--color-white);
  border: 1px solid var(--color-white);

  &:hover,
  &:focus,
  &:active {
    background-color: transparent;
    color: var(--color-white);
  }
}

.btn-third {
  color: var(--color-black);
  background-color: var(--color-white);
  border: 1px solid var(--color-white);

  &:hover,
  &:focus,
  &:active {
    background-color: transparent;
    color: var(--color-white);
  }
}

.btn-fourth {
  color: var(--color-black);
  background-color: transparent;
  border: 1px solid var(--color-black);

  &:hover,
  &:focus,
  &:active {
    color: var(--color-white);
    background-color: var(--color-fifth);
    border-color: var(--color-fifth);
  }
}

.btn-fifth {
  color: var(--color-white);
  background-color: var(--color-fifth);
  border: 1px solid var(--color-fifth);

  &:hover,
  &:focus,
  &:active {
    color: var(--color-white);
    background-color: var(--color-sixth);
    border-color: var(--color-sixth);
  }
}

.btn:hover {
  text-decoration: none;
}

.btn.is--secondary {
  background-color: var(--color-dark);
}

.btn-wrap {
  grid-column-gap: 0.5em;
  grid-row-gap: 0.5em;
  flex-wrap: wrap;
  align-items: flex-start;
  display: flex;
  position: relative;
}

.line {
  background-color: #c4c4ca;
  width: 100%;
  height: 1px;
  position: static;
}

.btn__text-p {
  margin-bottom: 0;
}

.styleguide__list {
  grid-column-gap: 2em;
  grid-row-gap: 2em;
  flex-flow: column;
  width: 100%;
  display: flex;
  position: relative;
}

@media screen and (max-width: 991px) {

  .container.is--medium,
  .container.is--small {
    max-width: calc(var(--size-container) * 1);
  }

  .clone-in-webflow {
    margin-right: -0.5em;
  }
}

@media screen and (max-width: 767px) {
  h1 {
    font-size: 4em;
  }

  h2 {
    font-size: 3.25em;
  }

  .osmo-ui {
    position: fixed;
  }

  .nav-logo-row {
    grid-column-gap: 2.5em;
    grid-row-gap: 2.5em;
    width: auto;
  }

  .nav-row__right {
    grid-column-gap: 0rem;
    grid-row-gap: 0rem;
  }

  .cloneable-title {
    pointer-events: none;
    width: calc(100% - 5.25em);
    padding-left: 1em;
    position: absolute;
    overflow: hidden;
  }

  .cloneable-title__nr,
  .cloneable-title__h1 {
    font-size: 0.875em;
  }

  .clone-in-webflow {
    justify-content: flex-end;
    width: 100%;
    margin-right: 0;
    padding-left: 0.75em;
  }

  .clone-in-webflow__p {
    display: none;
  }

  .cloneable-title__gradient,
  .osmo-ui__bg {
    display: block;
  }
}

@font-face {
  font-family: "PP Neue Montreal";
  src: url("https://cdn.prod.website-files.com/6756bf75aa4ecba10df0a4e9/6756bf75aa4ecba10df0a546_PPNeueMontreal-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "PP Neue Montreal";
  src: url("https://cdn.prod.website-files.com/6756bf75aa4ecba10df0a4e9/6756bf75aa4ecba10df0a54e_PPNeueMontreal-Medium.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "PP Neue Montreal";
  src: url("https://cdn.prod.website-files.com/6756bf75aa4ecba10df0a4e9/6756bf75aa4ecba10df0a543_PPNeueMontreal-SemiBold.woff2") format("woff2");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}