.our-values-section {
    padding: 112px 15px;
    background-color: var(--color-secondary);

    @media screen and (max-width: 768px) {
        padding: 64px 15px;
    }

    >.container {
        >.row {
            display: flex;
            flex-flow: row nowrap;
            align-items: center;
            gap: 80px;

            >.col {
                width: 50%;

                .top-text {
                    align-items: flex-start;
                    color: var(--color-white);

                    .title {
                        font-weight: 600;
                    }

                    .subtitle {
                        margin-bottom: 20px;
                    }
                }

                .values {
                    >.value {
                        display: flex;
                        flex-flow: row nowrap;
                        align-items: flex-start;
                        gap: 24px;
                        padding: 10px;
                        border-radius: 16px;
                        margin-bottom: 22px;
                        transition: transform 0.2s ease, box-shadow 0.2s ease;

                        &:hover {
                            transform: translateY(-5px);
                            box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1);
                        }

                        >.icon {
                            position: relative;
                            top: 7px;

                            svg {
                                width: 30px;
                                color: var(--color-white);
                            }
                        }

                        >.content {
                            color: var(--color-white);

                            >.title {
                                font-size: 24px;
                                font-weight: 600;
                                margin-bottom: 10px;
                            }

                            >.description {
                                font-size: 16px;
                                font-weight: 400;
                                line-height: 1.5;
                            }
                        }
                    }
                }

                .buttons {
                    display: flex;
                    flex-flow: row nowrap;
                    align-items: center;
                    gap: 16px;

                    >a {
                        font-size: 14px;

                        &:hover,
                        &:active,
                        &:focus {
                            background-color: var(--color-primary);
                            border-color: var(--color-primary);
                        }
                    }
                }

                .our-values-image {
                    width: 100%;
                    min-height: 500px;
                    background-size: cover;
                    background-position: center;
                    background-repeat: no-repeat;
                    border-radius: 16px;
                }

            }

            @media screen and (max-width: 768px) {
                flex-direction: column;
                gap: 48px;

                >.col {
                    width: 100%;

                    .our-values-image {
                        min-height: 348px;
                    }
                }
            }
        }
    }
}