.reset-password-page {
    padding: 112px 0;
    background-color: var(--color-sixth);

    .top-text {
        color: var(--color-white);

        .subtitle {
            margin-bottom: 20px;
        }
    }

    .bottom-container {
        color: var(--color-white);
        max-width: 400px;
        margin: 0 auto;

        form {
            display: flex;
            flex-flow: column nowrap;
            justify-content: flex-start;
            gap: 16px;

            .new-password-form,
            .confirm-password-container {
                display: flex;
                flex-flow: column nowrap;
                justify-content: flex-start;

                label {
                    margin-bottom: 8px;
                    font-size: 16px;
                }

                input {
                    width: 100%;
                    color: var(--color-black);
                    border: unset;
                    border-radius: 14px;
                    padding: 10px;
                    font-size: 14px;
                }
            }

            button {
                display: block;
                margin: 0 auto;
            }
        }
    }
}