.reset-password-page {
    padding: 112px 0;
    background-color: var(--color-sixth);

    .top-text {
        color: var(--color-white);

        .subtitle {
            margin-bottom: 20px;
        }
    }

    .bottom-container {
        color: var(--color-white);
    }
}