.signup-section {
    background-color: var(--color-third);
    padding: 112px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    > .register-form-section {
        text-align: center;
        background-color: var(--color-fourth);
        width: 100%;
        border-radius: 16px;
        padding: 85px 15px;
        max-width: 91%;
        > .container {
            max-width: unset;
            .title {
                margin-bottom: 24px;
                font-weight: 600;
            }
            .subtitle {
                margin-bottom: 32px;
            }
        }
    }
}