.story-section {
    background-color: var(--color-third);
    padding: 112px 15px;
    > .container {
        > .row {
            display: flex;
            flex-flow: row nowrap;
            > .col {
                width: 49%;
                &:first-of-type {
                    margin-right: 32px;
                }
                .story-image {
                    border-radius: 16px;
                    width: 100%;
                    min-height: 500px;
                    background-size: cover;
                    background-position: center;
                    background-repeat: no-repeat;
                }
                .top-text {
                    align-items: flex-start;

                    .title {
                        font-weight: 600;
                    }
                    .paragraphs {
                        > p {
                            font-size: 16px;
                            margin-bottom: 10px;
                            color: var(--color-black);
                        }
                    }
                    .buttons {
                        margin-top: 22px;
                    }
                }
            }
        }
    }
}