.story-section {
    background-color: var(--color-third);
    padding: 112px 15px;
    > .container {
        > .row {
            display: flex;
            flex-flow: row nowrap;
            > .col {
                width: 49%;
                &:first-of-type {
                    margin-right: 32px;
                }
                img {
                    border-radius: 16px;
                    /* width: 100%;
                    height: 100%; */
                    /* object-fit: cover; */
                }
                .top-text {
                    .paragraphs {
                        > p {
                            color: var(--color-black);
                        }
                    }
                }
            }
        }
    }
}