/* Top Navigation */
.top-navigation {
  width: 100%;
  position: fixed;
  z-index: 1000;
  padding-top: 18px;
  padding-bottom: 18px;
  transition: all 0.3s ease-in-out; /* Smooth transition for the shadow */
  background-color: transparent;
  &.scrolled {
    background-color: var(--color-white);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* The desired shadow style */
    .top-menu-column {
      > a {
        color: var(--color-black);
      }
    }
  }
  > .container {
    > .row {
      display: flex;
      flex-flow: row nowrap;
      justify-content: space-between;
      align-items: center;
      .top-menu-column,
      .top-buttons {
        > a {
          font-size: 14px;
          font-weight: 600;
        }
      }
    }
  }
  .mobile-menu-column {
    display: block;
    @media screen and (min-width: 767px) {
      display: none;
    }
  }

  .top-menu-column {
    display: flex;
    flex-flow: row nowrap;
    gap: 32px;
    > a {
      padding: 5px;
      color: var(--color-white);
    }
  }

  .top-buttons {
    > a:first-of-type {
      margin-right: 10px;
    }
  }
}
