/* Top Navigation */
.top-navigation {
  width: 100%;
  position: fixed;
  z-index: 1000;
  padding-top: 18px;
  padding-bottom: 18px;
  transition: all 0.3s ease-in-out; /* Smooth transition for the shadow */
  background-color: transparent;
  &.scrolled {
    background-color: var(--color-white);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* The desired shadow style */
    .top-menu-column {
      > a {
        color: var(--color-black);
      }
    }
  }
  @media screen and (max-width: 768px) {
    background-color: var(--color-fourth);
    &.scrolled {
      background-color: var(--color-fourth);
    }
    &.menu-open {
      > .container {
        > .row {
          .top-menu-column {
            display: flex;
          }
          .top-buttons {
            display: flex;
          }
        }
      }
    }
  }
  > .container {
    > .row {
      display: flex;
      flex-flow: row nowrap;
      justify-content: space-between;
      align-items: center;
      .top-menu-column,
      .top-buttons {
        > a {
          font-size: 14px;
          font-weight: 600;
        }
      }
      @media screen and (max-width: 768px) {
        flex-flow: row wrap;
        .mobile-menu-column {
          width: 25%;
        }
        .logo-column {
          width: 75%;
          > a {
            > img {
              margin-left: 25%;
            }
          }
        }
        .top-menu-column {
          margin-top: 20px;
          width: 100%;
          flex-flow: column nowrap;
          display: none;
          gap: 15px;
          > a {
            color: var(--color-black);
            &.active {
              text-decoration: unset;
              background-color: var(--color-primary);
              color: var(--color-white);
              padding: 0.75em 1.5em;
              border-radius: 1em;
            }
            &:focus,
            &:active,
            &:hover {
              text-decoration: unset;
            }
          }
        }
        .top-buttons {
          width: 100%;
          flex-flow: column nowrap;
          display: none;
          margin-top: 10px;
          > .btn {
            width: 100%;
            &:first-of-type {
              margin-bottom: 10px;
            }
            &:active,
            &:focus,
            &:hover {
              background-color: var(--color-primary);
              color: var(--color-white);
            }
          }
        }
      }
    }
  }
  .mobile-menu-column {
    display: block;
    cursor: pointer;
    > button {
      padding: 2px;
      background-color: transparent;
      border: unset;
      border-radius: 5px;
      > svg {
        font-size: 30px;
      }
    }
    @media screen and (min-width: 769px) {
      display: none;
    }
  }

  .top-menu-column {
    display: flex;
    flex-flow: row nowrap;
    gap: 32px;
    > a {
      font-size: 14px;
      padding: 5px;
      color: var(--color-white);
      font-weight: 500 !important;
      &.active {
        text-decoration: underline;
      }
    }
  }

  .top-buttons {
    > a {
      font-size: 14px;
      font-weight: 500 !important;
    }
    > a:first-of-type {
      margin-right: 10px;
    }
  }
}
